/* Import Google Font - Poppins */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    flex-direction: column;
    background-image: url('images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center the content vertically */
    justify-content: center;
    /* Center the content horizontally */
    padding: 25px;
    border-radius: 10px;
    background: #F8F8F8;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    width: 150px;
    margin: 5px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.counter {
    font-size: 48px;
    font-weight: bold;
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    position: fixed;
    top: 20px;
    /* Adjust the top position to move it to the top-right corner */
    right: 20px;
    /* Set right position to align with the top-right corner */
}

#startButton {
    font-size: 24px;
    background-color: #4CAF50;
    color: #fff;
    padding: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#startButton:hover {
    background-color: #45a049;
}

#resetButton {
    font-size: 24px;
    background-color: #f44336;
    color: #fff;
    padding: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
    width: auto;
    /* Set width to auto to match the width of the Start button */
}

#resetButton:hover {
    background-color: #d32f2f;
}

.cards,
.card,
.view {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards {
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards .card {
    margin: 5px;
}

.cards .card:not(.label) {
    cursor: pointer;
    list-style: none;
    user-select: none;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.card.shake {
    animation: shake 0.35s ease-in-out;
}

.card.jump {
    animation: jump 0.35s ease-in-out;
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-13px);
    }
    40% {
        transform: translateX(13px);
    }
    60% {
        transform: translateX(-8px);
    }
    80% {
        transform: translateX(8px);
    }
}

@keyframes jump {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-13px);
    }
}

.card .view {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 7px;
    background: #fff;
    pointer-events: none;
    backface-visibility: hidden;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.25s linear;
}

.card .front-view img {
    width: 75%;
}

.card .back-view img {
    max-width: 75%;
}

.card .back-view {
    transform: rotateY(-180deg);
}

.card.flip .back-view {
    transform: rotateY(0);
}

.card.flip .front-view {
    transform: rotateY(180deg);
}

.scores {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
    color: #333;
}

.scores div {
    margin-bottom: 10px;
}

.highlight {
    background-color: #ff5733;
    /* Change this to your desired highlighted button color */
}

.scores {
    position: absolute;
    top: 20px;
    right: 20px;
    /* Adjust right to align with the top-right corner */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* Align scores to the right */
    font-size: 16px;
    color: #333;
}

.user-score {
    display: flex;
    align-items: center;
    margin: 10px;
}

.decrement-button,
.increment-button {
    font-size: 18px;
    padding: 5px 10px;
    cursor: pointer;
}

.score-value_1 {
    font-size: 24px;
    background-color: #ff5733;
    ;
    padding: 10px;
    border-radius: 5px;
    margin: 0 10px;
}

.score-value_2 {
    font-size: 24px;
    background-color: lightblue;
    padding: 10px;
    border-radius: 5px;
    margin: 0 10px;
}

.mode-section {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.mode-section .mode-choice {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
    width: 150px;
    height: 150px;
    margin: 5px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.mode-section .mode-choice img {
    height: 75px;
    width: 75px;
}

.mode-section .mode-choice:hover {
    cursor: pointer;
    background-color: #00000010;
}

.mode-section .mode-choice.selected {
    border: 2px solid black
}

.game-options {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.game-options .board-size-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.game-options .board-size-container .board-size-option {
    display: flex;
    flex-flow: row wrap;
    width: calc(100% / 4 - 10px);
    min-width: 75px;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
    margin: 5px;
}

.game-options .board-size-container .board-size-option:hover {
    cursor: pointer;
    background-color: #00000010;
}

.game-options .board-size-container .board-size-option.selected {
    border: 2px solid black
}

.mode-options {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.mode-options .player-list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.mode-options .player-list .player-name {
    width: 75%;
    max-width: 500px;
    margin-bottom: 5px;
    box-shadow: inset 1px 1px 1px #00000040;
    font-size: 12px;
    height: 32px;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px #00000040;
}

.mode-options .player-list .add-player-btn {
    width: 75%;
    max-width: 500px;
    margin-bottom: 5px;
    background-color: #fff;
    box-shadow: 1px 1px 1px #00000040;
    height: 32px;
    font-size: 12px;
    border-radius: 5px;
    color: #45b6fe;
    border: 1px solid #45b6fe
}

.mode-options .player-list .remove-player-btn {
    width: 75%;
    max-width: 500px;
    margin-bottom: 5px;
    background-color: #fff;
    box-shadow: 1px 1px 1px #00000040;
    height: 32px;
    font-size: 12px;
    border-radius: 5px;
    color: red;
    border: 1px solid red
}

.mode-options .player-list .add-player-btn:hover {
    cursor: pointer;
    background-color: #45b6fe;
    color: #fff;
}

.mode-options .player-list .remove-player-btn:hover {
    cursor: pointer;
    background-color: red;
    color: #fff;
}

.mode-options .time-options .minute-selector,
.second-selector {
    background-color: #fff;
    border: 1px solid #00000040;
    height: 32px;
    padding: 5px;
    border-radius: 5px;
}